#mapid
{
    height: 100%;
    z-index: 0;
}

body{
  margin:0px;
}

#menu {
  position: absolute;
  left: 0px;
  z-index: 3;
  background: #fff;
  width: 20%;
  left: -20%;
  height: 100%;
  box-shadow: 1px 0px 7px #c6e68e;
  opacity: 1;
  overflow: auto;
}

.challenge-button {
  width: 140px;
  height: 30px;
  margin: 4px;
  background-color: #444;
  color: #fff;
  border-radius: 8px;
  text-align: center;
}

#menu #logo {
  width: 90%;
  margin:30px 5% 0px 5%;
}

#menu h3 {
  margin: 10px;
  color: #444;
  font-family: Verdana;
}

#menu p {
  padding: 10px;
}

#menu ul#challenges {
  margin: 0px;
  padding: 0px;
}

#menu ul#challenges li {
  width: 90%;
  min-width: 100px;
  line-height: 27px;
  background: #fafafa;
  border-top: 1px solid #fff;
  list-style: none;
  list-style-type:none;
  color: #555;
  overflow: hidden;
  font-family: Verdana;
  font-size: 9pt;
  padding: 5%;
}

#menu ul#challenges li:hover {
  background: #f0f0f0;
  cursor: pointer;
}

#menu ul#challenges li:hover .challenge-button {
  background-color: #a3db1d;
}

.background{
  height: 100%;
  width: 100%;
  background-color: #c6e68e;
  position:absolute;
  opacity: 0.7;
  z-index: 1;
}

.character{
  position:absolute;
  margin: 50px;
  bottom: 10px;
  padding-left:20%;
  z-index: 2;

}

.menu-button {
    display: inline-block;
    cursor: pointer;
    position:absolute;
    left:20px;
    top:10px;
    z-index: 3;
}

.dialogue{
  left: 20%;
  top:5%;
  position:absolute;
  border-color: white;
  border-width: medium;
  border-style: solid;
  border-radius: 5px;
  padding: 1%;
  background-color: white;
  opacity: 0.8;
  z-index: 1;
  left: 40%;
  top: 30%;
  width: 50%;
  margin-top: 80px;
  font-size:24px;
  color:black;
  font-style:italic;
  text-shadow:.5px 0px #b14943;
  font-family:'Lato', Calibri, Arial, sans-serif;
}

#continue-button {
  width: 150px;
  height: 40px;
  line-height: 40px;
  font-weight: bold;
  text-align: center;
  background: #000;
  color: #fff;
  border-radius: 10px;
  font-family: Verdana;
  margin: 20px 10px 0px 10px;
  float: right;
  cursor: pointer;
}

#continue-button:hover {
  background: #c6e68e;
  color: #000;
}

.menu-button .bar1, .menu-button .bar2, .menu-button .bar3 {
    width: 35px;
    height: 5px;
    background-color: #333;
    margin: 6px 0;
    transition: 0.4s;
}

.menu-button-active .bar1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px) ;
    transform: rotate(-45deg) translate(-9px, 6px) ;
}

.menu-button-active .bar2 {opacity: 0;}

.menu-button-active .bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px) ;
    transform: rotate(45deg) translate(-8px, -8px) ;
}

.splash, .character, .dialogue {
  display: none;
}
